* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: .28rem;
  font-style: normal;
}

body,
html,
#wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#wrap {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  line-height: 1rem;
  color: #d6d0d0;
  box-sizing: border-box;
  padding: 0 5%;
  background: #0f0f0f;
  justify-content: space-between;
  font-weight: normal;
}

header i {
  font-size: .36rem;
}

main {
  flex: 1;
  overflow: auto;
}

main .block {
  border-bottom: .6rem solid #ddd;
}

main .block h3 {
  line-height: 1rem;
  box-sizing: border-box;
  padding: 0 5%;
  color: #e65d9d;
  border-bottom: 1px solid #ddd;
}

main .block p {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5%;
  line-height: 1rem;
  border-bottom: 1px solid #ddd;
}

main .block p em {
  flex: 1;
  padding-left: .2rem;
}

main .block p i {
  color: #e65d9d;
}

main .block .auto {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5%;
}

main .block .auto .play {
  width: 200px;
  margin: .1rem .6rem;
  height: .2rem;
  background: #ddd;
  border-radius: .2rem;
  position: relative;
}

main .block .auto .play .bottom {
  position: absolute;
  top: 0;
  left: 0;
  height: .2rem;
  border-radius: .2rem;
  width: 1rem;
  background: #e65d9d;
}

main .block .auto .play .radius {
  width: .4rem;
  height: .4rem;
  border: 1px solid #ddd;
  position: absolute;
  top: -.1rem;
  left: .8rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
}

main .block .auto .play .radius .redio {
  width: .1rem;
  height: .1rem;
  position: absolute;
  top: .15rem;
  left: .15rem;
  border-radius: 50%;
  background: #e65d9d;
}

main .detail {
  width: 100%;
}

main .detail .title {
  box-sizing: border-box;
  padding: 0 5%;
  border-bottom: 1px solid #ddd;
  line-height: 1rem;
}

main .detail .ask {
  font-size: .24rem;
  box-sizing: border-box;
  padding: .2rem 5%;
  border-bottom: 1px solid #ddd;
}

main .detail .ask span {
  color: #e65d9d;
}

main .detail .cont {
  box-sizing: border-box;
  padding: .1rem 5% 1.2rem 5%;
  border-bottom: 1px solid #ddd;
}

main .pic ul {
  display: flex;
  justify-content: space-around;
}

main .pic ul li {
  width: 30%;
  height: 100px;
  border: 1px solid #ddd;
}

main .pic ul li .add {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 1rem;
}
